<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a href="" class="navbar-brand">Twitter Analyst</a>
  </div>
  <ul class="navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/top">Top Terms</a></li>
  </ul>
</nav>